<div class = "arrow-buttons">
    <button class="arrow-up">
        <p class= "arrow-icon"><i class="fa-solid fa-arrow-up"></i></p>
    </button>
    <button class = "arrow-down">
        <p class = "arrow-icon"><i class="fa-sharp fa-solid fa-arrow-down"></i></p>
    </button>
</div>