<div id = "header">
    <h2 id="title-position">{{titleText}}</h2>
        <div>
            <a href="/">
                <button id = "home-button">
                    <div id = "home-button-decoration">
                        <p id = "house-icon"><i class="fa-sharp fa-solid fa-house"></i></p> 
                        <p id = "home-text">Home</p> 
                    </div>

                </button>
            </a>
        </div>
</div> 