<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    
    <script src="https://kit.fontawesome.com/31a9bcd812.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style.css">
    <script src= "/graphInputs.js" charset="utf-8" defer></script>
    <script src= "/deleteButton.js" charset="utf-8" defer></script>
    <script src= "/arrows.js" charset="utf-8" defer></script>

    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.runtime.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100;1,300&family=Montserrat:wght@300&display=swap" rel="stylesheet">
    
</head>
<body>
    
    {{{body}}}
</body>