<html>
    <body>

        <!--I want to replace this part with different criteria-->
        <!--<div id = "graph-specs">
        <div class="input-container">
            <label class="graph-labels">Name:</label>
            <div class="input-boxes-container">
                <input type="text" class="input-boxes">
            </div>
            <label class="graph-labels">Value:</label>
            <div class="input-boxes-container">
                <input type="number" class="input-boxes">
            </div>
            <button type="button" id="submit-button"><i class="fas fa-plus"></i></button>
        </div>
        </div>-->

        

        {{{body}}}
    </body>
</html>