<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>View Other Graphs</title>
        <script src="viewer.js" charset="utf-8" defer></script>

    </head>
    <body>
        {{> header}}

        <div>
            <div id="filter-box">
                <h2 id="filter-box-title">Filter</h2>
                <div class="filter-div">
                    <label>Search for Title</label>
                    <div>
                        <input id="filter-title" class="filter-box" type="text">
                    </div>                    
                </div>

                <div class="filter-div">
                    <label>Search for Author</label>
                    <div>
                        <input id = "filter-author" class="filter-box" type="text">
                    </div>                    
                </div>

                <div class="filter-div">
                    <label class="center-label">Time Search</label>
                    <div class = "date-boxes-container">
                        <input class = "small-boxes" placeholder="month" type="text">
                        <input class = "small-boxes" placeholder="day" type="text">
                        <input class = "small-boxes" placeholder="year" type="text">
                    </div>
                    <div class="small-text">
                        <p>To</p>
                    </div>
                    <div class = "date-boxes-container">
                        <input class = "small-boxes" placeholder="month" type="text">
                        <input class = "small-boxes" placeholder="day" type="text">
                        <input class = "small-boxes" placeholder="year" type="text">
                    </div>
                </div>
                <div class="filter-div">
                    <label>Sort By:</label>
                    <div class= "center">
                        <select id="sort-by">
                            <option selected>Oldest</option>
                            <option>Newest</option>
                            <option>Most Liked</option>
                        </select>
                    </div>
                </div>

                <div id="filter-button-container">
                    <button id="filter-button">
                        Filter
                    </button>                    
                </div>
            </div>

            <div id="all-posts">

                {{#each posts}}
                    {{> post}}
                {{/each}}
               
            </div>
        </div>
    </body>
</html>