<html>
    <head>
        <meta charset="utf-8">

        <!--For type, you specify the chart type and add "chart"
        so if you wanted this page to be a pie chart page, type would be "Pie Chart"
        if you wanted to make a bar graph, type would be "Bar Graph"-->

        <title>{{type}}</title>

        <link rel="stylesheet" href="graphStyles.css">
        <script src="https://kit.fontawesome.com/31a9bcd812.js" crossorigin="anonymous"></script>

        <script src= "/graphInputs.js" charset="utf-8" defer></script>
        <script src= "/deleteButton.js" charset="utf-8" defer></script>
        <script src= "/index.js" charset="utf-8" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.runtime.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    </head>
    <body>
        <a href="/">Back To Home</a>
        <h2>{{type}} Creator</h2>    
        
        <div>
            <label>Title</label>
            <div>
                <input id="title" type="text">
            </div>
        </div>

        <!--All of the inputs-->
        {{#each inputs}}
            {{> input}}
        {{/each}}

        <!--This is where all of the specs are-->
        <div id = "graph-specs">
            <div id="initial-input-container">

                <!--All of the specs-->
                {{#each specs}}
                    {{> spec}}
                {{/each}}

                <!--The submit button-->
                <button type="button" id="submit-button"><i class="fas fa-plus"></i></button>

            </div>
        </div>

        <div>
            <button id="publish-button">Publish!</button>
        </div>

            
        <div id = "chart-container" class = "chart">
            <canvas id = "myChart"></canvas>
        </div>
    </body>
</html>