body{
    font-family: 'Montserrat', sans-serif;
}

.chart {
    height: 450px;
    width: 450px;
    position: absolute;
    bottom: 10px;
    right: 50px;
}

#myChart {
    bottom: 0px;
    right: 0px;
}

.graph-input-boxes
{
    width: 100px;
}

.input-boxes
{
    width: 100px;
}

.box-format
{
    width: 100px;
}

.bar-value-boxes
{
    width: 100px;
}

.color-value-boxes
{
    width: 100px;
}

.input-boxes-container
{
    width: 100px;
    margin: 0;
    margin: 10px 10px;
}

.input-graph-labels {
    margin: auto 10px;
}

.graph-labels {
    margin: auto 10px;
}

#initial-input-container {
    display: flex;
    position: relative;
    margin-top: 5px;
    background-color: gray;
}

.input-container {
    display: flex;
    position: relative;
    margin-top: 5px;
    margin-left: 10px;
    background-color: blue;
}

#submit-button {
    background-color: blue;
    color: white;
    margin-left: 40px;
    height: 30px;
    width: 30px;
    margin-top: auto;
    margin-bottom: auto;
}

#delete-button {
    background-color: gray;
    color: red;

    margin-left: auto;
    margin-right: 40px;
    height: 30px;
    width: 30px;
    margin-top: auto;
    margin-bottom: auto;
}

#publish-button{
    font-size: 15px;
    background-color: limegreen;
    position: relative;
    top: 25px;
    left: 0 px;
}


#chart-container{
    position: relative;
    top: 50px;
    left: 85px;
    height: 500px;
    width: 500px;
}

