body{
    font-family: 'Montserrat', sans-serif;
}

.chart {
    height: 450px;
    width: 450px;
    position: absolute;
    bottom: 10px;
    right: 50px;
}

#myChart {
    bottom: 0px;
    right: 0px;
}

.input-boxes
{
    width: 100px;
}

.bar-value-boxes
{
    width: 100px;
}

.color-value-boxes
{
    width: 100px;
}

.input-boxes-container
{
    width: 100px;
    margin: 0;
    margin: 10px 10px;
}

.graph-labels {
    margin: auto 10px;
}

.input-container {
    display: flex;
    width: 750px;
    background-color: gray;
}

#submit-button {
    background-color: blue;
    color: white;
    margin-left: 40px;
    height: 30px;
    width: 30px;
    margin-top: auto;
    margin-bottom: auto;
}